.hero {
  width: 100%;
  height: 600px;
  position: relative;

  background-size: cover !important;
}
.heroimage-content {
  max-width: 100%;
  padding: 20px;
  margin: 0px auto;
}

.heroimage-text {
  z-index: 100;
  max-width: 700px;
  position: absolute;
  left: 80px;
  bottom: 100px;
  margin-right: 20px;
  min-height: 100px;
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0);
}
.heroimage-text h1 {
  text-emphasis: left;
}
